/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
td a {
    text-decoration: none;
}

td a i  {
    color: #000000;
}

.drag{
    cursor: grab;
}

.editBtn,
.deleteBtn {
  cursor: pointer;
}

.editBtn:hover {
  color: dodgerblue;
  text-decoration: underline;
}

.deleteBtn:hover {
  color: crimson;
  text-decoration: underline;
}

.form-table th {
  width: 160px;
  vertical-align: top;
  padding: 10px 0;
}

.form-table td {
  padding: 10px 0;
}

#add {
  margin-top: 10px;
}

#overview.widefat th,
#overview.widefat td {
  text-align: left;
  vertical-align: middle;
}

#overview.widefat td img.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.saveBtn,
.cancelBtn,
a.editBtn,
a.deleteBtn {
  cursor: pointer;
  text-decoration: none;
}

a.saveBtn:hover,
a.editBtn:hover {
  color: #2271b1; /* WordPress blauw */
  text-decoration: underline;
}

a.cancelBtn:hover,
a.deleteBtn:hover {
  color: #b32d2e; /* WordPress rood */
  text-decoration: underline;
}

.wrap h2 {
  margin-top: 40px;
}

#overview th:first-child,
#overview td:first-child {
  width: 30px;
  text-align: center;
  font-weight: bold;
}

#save {
  margin-top: 20px;
}

input.is-invalid,
select.is-invalid {
  border: 1px solid #dc3232;
  background-color: #fff0f0;
}

input:focus.is-invalid,
select:focus.is-invalid {
  outline: none;
  box-shadow: 0 0 0 1px #dc3232;
}

#userdata {
  display: none;
}